USE [master]
GO
/****** Object:  Database [ManagerStoreWPF_fix]    Script Date: 28/12/20 10:02:06 CH ******/
CREATE DATABASE [ManagerStoreWPF_fix]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ManagerStoreWPF_fix', FILENAME = N'D:\Microsolf SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\ManagerStoreWPF_fix.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'ManagerStoreWPF_fix_log', FILENAME = N'D:\Microsolf SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\ManagerStoreWPF_fix_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ManagerStoreWPF_fix].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ManagerStoreWPF_fix]
GO
/****** Object:  Table [dbo].[CustomerTable]    Script Date: 28/12/20 10:02:08 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CustomerTable](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[FullName] [nvarchar](max) NOT NULL,
	[Phone] [varchar](10) NOT NULL,
	[Address] [nvarchar](max) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[InputDetailTable]    Script Date: 28/12/20 10:02:08 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[InputDetailTable](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ID_Input] [int] NOT NULL,
	[ID_Product] [int] NOT NULL,
	[PriceInput] [int] NOT NULL,
	[Amount] [int] NOT NULL,
	[TotalPrice] [int] NOT NULL,
	[Status] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[InputTable]    Script Date: 28/12/20 10:02:08 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[InputTable](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ID_User] [int] NOT NULL,
	[DateInput] [date] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OutPutDetailTable]    Script Date: 28/12/20 10:02:08 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OutPutDetailTable](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ID_Output] [int] NOT NULL,
	[ID_Product] [int] NOT NULL,
	[Count] [int] NOT NULL,
	[Price] [int] NOT NULL,
	[TotalPrice] [int] NOT NULL,
	[Status] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OutputTable]    Script Date: 28/12/20 10:02:08 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OutputTable](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ID_User] [int] NOT NULL,
	[ID_Customer] [int] NOT NULL,
	[DateOutput] [date] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProductTable]    Script Date: 28/12/20 10:02:08 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductTable](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[DisplayName] [nvarchar](max) NOT NULL,
	[ID_Unit] [int] NOT NULL,
	[ID_Supplier] [int] NOT NULL,
	[Price] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RoleTable]    Script Date: 28/12/20 10:02:08 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RoleTable](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Role] [nvarchar](max) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SupplierTable]    Script Date: 28/12/20 10:02:08 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SupplierTable](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[DisplayName] [nvarchar](max) NOT NULL,
	[Address] [nvarchar](max) NOT NULL,
	[Phone] [varchar](10) NOT NULL,
	[ContractDay] [date] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UnitTable]    Script Date: 28/12/20 10:02:08 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UnitTable](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Descriptions] [nvarchar](max) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserTable]    Script Date: 28/12/20 10:02:08 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserTable](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ID_Role] [int] NULL,
	[DisplayName] [nvarchar](max) NOT NULL,
	[UserName] [varchar](max) NOT NULL,
	[Password] [varchar](max) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[InputDetailTable]  WITH CHECK ADD FOREIGN KEY([ID_Input])
REFERENCES [dbo].[InputTable] ([ID])
GO
ALTER TABLE [dbo].[InputDetailTable]  WITH CHECK ADD FOREIGN KEY([ID_Product])
REFERENCES [dbo].[ProductTable] ([ID])
GO
ALTER TABLE [dbo].[InputTable]  WITH CHECK ADD FOREIGN KEY([ID_User])
REFERENCES [dbo].[UserTable] ([ID])
GO
ALTER TABLE [dbo].[OutPutDetailTable]  WITH CHECK ADD FOREIGN KEY([ID_Output])
REFERENCES [dbo].[OutputTable] ([ID])
GO
ALTER TABLE [dbo].[OutPutDetailTable]  WITH CHECK ADD FOREIGN KEY([ID_Product])
REFERENCES [dbo].[ProductTable] ([ID])
GO
ALTER TABLE [dbo].[OutputTable]  WITH CHECK ADD FOREIGN KEY([ID_Customer])
REFERENCES [dbo].[CustomerTable] ([ID])
GO
ALTER TABLE [dbo].[OutputTable]  WITH CHECK ADD FOREIGN KEY([ID_User])
REFERENCES [dbo].[UserTable] ([ID])
GO
ALTER TABLE [dbo].[ProductTable]  WITH CHECK ADD FOREIGN KEY([ID_Supplier])
REFERENCES [dbo].[SupplierTable] ([ID])
GO
ALTER TABLE [dbo].[ProductTable]  WITH CHECK ADD FOREIGN KEY([ID_Unit])
REFERENCES [dbo].[UnitTable] ([ID])
GO
ALTER TABLE [dbo].[UserTable]  WITH CHECK ADD FOREIGN KEY([ID_Role])
REFERENCES [dbo].[RoleTable] ([ID])
GO
USE [master]
GO
